<?xml version="1.0" encoding="utf-8" ?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>ZZCMS内容管理系统</webname>
  <weburl>http://192.168.2.66:1717</weburl>
  <webcompany>NCMVC</webcompany>
  <webaddress>xxx</webaddress>
  <webtel>xxx</webtel>
  <webfax>-</webfax>
  <webmail>604401109@qq.com</webmail>
  <webcrod>豫ICP备xxx号-1</webcrod>
  <webpath>/</webpath>
  <webmanagepath>ad_min</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>0</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <smsusername>test</smsusername>
  <smspassword>test</smspassword>
  <emailsmtp>smtp.126.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>25</emailport>
  <emailfrom>xxx@126.com</emailfrom>
  <emailusername>xxx@126.com</emailusername>
  <emailpassword>xxx</emailpassword>
  <emailnickname>xx</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileanonymous>0</fileanonymous>
  <fileremote>0</fileremote>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <videoextension>flv,mp3,mp4,avi</videoextension>
  <attachsize>51200</attachsize>
  <videosize>102400</videosize>
  <imgsize>10240</imgsize>
  <imgmaxheight>1600</imgmaxheight>
  <imgmaxwidth>1600</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <thumbnailmode>Cut</thumbnailmode>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>CMS</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <fileserver>localhost</fileserver>
  <osssecretid>LTM8o4UbVKYGdEUe</osssecretid>
  <osssecretkey />
  <ossbucket />
  <ossendpoint />
  <ossdomain />
  <sysdatabaseprefix>nc_</sysdatabaseprefix>
  <sysencryptstring>ZZCMS</sysencryptstring>
  <stat>1</stat>
  <stat_cr1>0</stat_cr1>
  <stat_cr2>3</stat_cr2>
  <stat_cr3>3</stat_cr3>
  <stat_cr4>3</stat_cr4>
  <stat_cr5>2</stat_cr5>
  <stat_max>10001</stat_max>
  <dback>d:/</dback>
  <sameserv>1</sameserv>
</siteconfig>