@{
    /*
    *说明：非法用户
    *作者：wyd 2016-08-29
    *修改：
    *备注：
    */
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IllegalUser</title>
</head>
<body>
    <div style="width:558px; margin:0 auto; text-align:center;padding-top:20px; font-size:20px;">@ViewBag.msg</div>
</body>
</html>
