<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse side-menu" id="side-menu">

        <div class="side-menu-group active">
            <h1 title="站点" main-nav-icon="fa fa-home"><i class="fa fa-home"></i></h1>
            <div class="side-menu-wrap">
                <h2><i class="fa fa-home"></i><span>默认站点</span><b class="fa fa-angle-double-down"></b></h2>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><i class="fa fa-bars"></i>新闻资讯 <b class="fa arrow"></b></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href="list.html" id="1"><i class="fa fa-table"></i>内容管理</a></li>
                            <li><a class="J_menuItem" href="category.aspx?channel=1"><i class="fa fa-table"></i>栏目类别</a></li>
                            <li><a class="J_menuItem" href="comment.aspx?channel=1"><i class="fa fa-table"></i>评论管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bars"></i>购物商场 <b class="fa arrow"></b></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href="article.aspx?channel=2"><i class="fa fa-table"></i>内容管理</a></li>
                            <li><a class="J_menuItem" href="category.aspx?channel=2"><i class="fa fa-table"></i>栏目类别</a></li>
                            <li><a class="J_menuItem" href="comment.aspx?channel=2"><i class="fa fa-table"></i>评论管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bars"></i>视频专区 <b class="fa arrow"></b></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href="article.aspx?channel=2"><i class="fa fa-table"></i>内容管理</a></li>
                            <li><a class="J_menuItem" href="category.aspx?channel=2"><i class="fa fa-table"></i>栏目类别</a></li>
                            <li><a class="J_menuItem" href="comment.aspx?channel=2"><i class="fa fa-table"></i>评论管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bars"></i>图片分享 <b class="fa arrow"></b></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href="article.aspx?channel=2"><i class="fa fa-table"></i>内容管理</a></li>
                            <li><a class="J_menuItem" href="category.aspx?channel=2"><i class="fa fa-table"></i>栏目类别</a></li>
                            <li><a class="J_menuItem" href="comment.aspx?channel=2"><i class="fa fa-table"></i>评论管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bars"></i>资源下载 <b class="fa arrow"></b></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href="article.aspx?channel=2"><i class="fa fa-table"></i>内容管理</a></li>
                            <li><a class="J_menuItem" href="category.aspx?channel=2"><i class="fa fa-table"></i>栏目类别</a></li>
                            <li><a class="J_menuItem" href="comment.aspx?channel=2"><i class="fa fa-table"></i>评论管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bars"></i>公司介绍 <b class="fa arrow"></b></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href="article.aspx?channel=2"><i class="fa fa-table"></i>内容管理</a></li>
                            <li><a class="J_menuItem" href="category.aspx?channel=2"><i class="fa fa-table"></i>栏目类别</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="side-menu-group">
            <h1 title="会员" main-nav-icon="fa fa-group"><i class="fa fa-group"></i></h1>
            <div class="side-menu-wrap">
                <h2><i class="fa fa-group"></i> <span>会员管理</span><b class="fa fa-angle-double-down"></b></h2>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><i class="fa fa-bars"></i>会员管理 <b class="fa arrow"></b></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href=""><i class="fa fa-table"></i>审核会员</a></li>
                            <li><a class="J_menuItem" href=""><i class="fa fa-table"></i>会员列表</a></li>
                            <li><a class="J_menuItem" href=""><i class="fa fa-table"></i>会员组别</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bars"></i>会员日志 <b class="fa arrow"></b></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href=""><i class="fa fa-table"></i>站内短消息</a></li>
                            <li><a class="J_menuItem" href=""><i class="fa fa-table"></i>充值记录</a></li>
                            <li><a class="J_menuItem" href=""><i class="fa fa-table"></i>消费记录</a></li>
                            <li><a class="J_menuItem" href=""><i class="fa fa-table"></i>积分记录</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bars"></i>会员设置  <b class="fa arrow"></b></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" href=""><i class="fa fa-edit"></i>参数设置</a></li>
                            <li><a class="J_menuItem" href=""><i class="fa fa-table"></i>OAuth设置</a></li>
                            <li><a class="J_menuItem" href=""><i class="fa fa-table"></i>邮件模板</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>